p{
    background-color: aquamarine;
}

a{
    background-color: rgb(194, 144, 144);
}

div{
    background-color: rgb(230, 189, 88);
}

span{
    background-color: rgb(160, 160, 228);
}